PORT=4000
CORS_ORIGIN=*
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_strong_secret
ADMIN_SECRET_KEY=replace_with_admin_key
HF_API_KEY=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ZENROWS_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ATLAS_SEARCH_INDEX=default
ATLAS_SEARCH_SYNONYMS=product_synonyms
